<style>
    .flash-message__container {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;               /* aby se zprávy skládaly pod sebe */
        flex-direction: column;
        align-items: center;         /* centrování vodorovně */
        gap: 8px;                    /* mezera mezi jednotlivými zprávami */
        z-index: 9999;
    }

    .flash-message {
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 5px 5px 5px 5px;
        opacity: 0;
        transform: translateY(-100%);
        transition: transform 0.4s ease, opacity 0.4s ease;
        width: 100%;
    }

    .flash-message--error {
        background-color: red;
    }

    .flash-message--success {
        background-color: green;
    }

    .flash-message--warning {
        background-color: orangered;
    }

    /* Když přidáte tuto třídu, "vyjede" zpráva dolů a zobrazí se */
    .flash-message.visible {
        /*visibility: visible;*/
        transform: translateY(0);
        opacity: 1;
    }
</style>

<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{ifset title}{include title|stripHtml} | {/ifset}ITCAVE</title>
</head>

<body>
<div class="flash-message__container">
    <div n:foreach="$flashes as $flash" class="flash-message flash-message--{$flash->type}">{$flash->message}</div>
</div>

{include content}

	{block scripts}
    <script src="https://unpkg.com/nette-forms@3/src/assets/netteForms.js"></script>
{/block}
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Najdeme všechny .flash-message
        var flashes = document.querySelectorAll('.flash-message');

        flashes.forEach(function (flash, i) {
            // "Rozbalení" zprávy (chvilku počkáme, aby se DOM stihl vykreslit)
            setTimeout(function () {
                flash.classList.add('visible');
            }, 100 + i * 100);

            // "zatažení" zpět
            setTimeout(function () {
                flash.classList.remove('visible');
            }, 2000 + i * 200);
        });
    });
</script>
